body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.section{
    height: 200px;
    margin: 20px;
    padding: 20px;
    color: black;
}

.section-one {
    background-color: teal;
    border-radius: 20px 50px 20px;
}

.section-two {
    background-image: url("https://picsum.photos/400/200");
    border: double ;
    background-position: center;
    border-radius: 100px;
}

.section-two p {
    color: red;
}