body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.section{
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    border: double ;
    color: black;
}
