body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.section{
    height: 200px;
    margin: 20px;
    padding: 20px;
    color: white;
}

.section-one {
    background-color: teal;
    border-radius: 20px 50px 20px;
}

.section-two {
    background-image: url("img/red-and-blue-pillars-wallpaper-abstract-background-free-image.webp");
    border: double ;
    background-position: center;
    border-radius: 100px;
}

.section-two p {
    color: wheat;
}
.section-three {
    background-image: url(img/images.jpg);
    background-size: cover;
    background-position: center;
    border: dotted;
    border-radius: 50px 20px 100px;
}
.section-three p {
    color: red;
}

.section-four {
    background-image: url(img/geometric-dark-background-with-gradient-shapes-composition-good-for-posters-design-illustration-vector.jpg);
    background-size: cover;
    background-position: center;
    border: double;
    border-radius: 100px 200px 100px;
}